body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  margin: 0;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 16px;
      display: flex;
      justify-content: center;

      li {
        padding: 10px;

        a {
          color: #fff;
        }
      }
    }
  }
}


main {
  .hero {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 80px 0px;

    .hero-content {
      max-width: 800px;
      margin: auto;

      h2 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      p {
        font-size: 20px;
        margin-bottom: 32px;
      }

      .cta-btn {
        font-size: 20px;
        background-color: #fff;
        display: inline-block;
        color: #4285f4;
        padding: 16px 32px;
        text-decoration: none;
        border-radius: 5px;
        transition: all 300ms ease;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}


.features{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 64px auto;
   max-width: 1200px;

   .feature{
    flex: 1 0 30%;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 5px;
    text-align: center;

    img{
       max-width: 100%;
       border-radius: 5px;
       margin-bottom: 16px; 
    }
    h3{
        font-size: 24px;
        margin-bottom: 16px;
    }
    p{
       font-size: 16px; 
    }
   }

}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
}